@model BiebWebApp.Models.User

<h1>Details</h1>

@if (User.IsInRole("Admin"))
{
    @if (Model.IsBlocked)
    {
        <form asp-action="BlockAccount" asp-route-id="@Model.Id" method="post" class="d-inline">
            <button type="submit" class="btn btn-success">Unblock Account</button>
        </form>
    }
    else
    {
        <form asp-action="BlockAccount" asp-route-id="@Model.Id" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger">Block Account</button>
        </form>
    }
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.SubscriptionType)
        </dt>
        <dd class="col-sm-10">
            @GetSubscriptionTypeName(Model.SubscriptionType)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Return to Users</a>
</div>

<h4>Payment Status</h4>
@if (!Model.HasPaid)
{
    <p>Payment Status: Not Paid</p>
    <form asp-action="MarkAsPaid" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-primary">Mark as Paid</button>
    </form>
}
else
{
    <p>Payment Status: Paid</p>
}

@functions {
    public string GetSubscriptionTypeName(string subscriptionType)
    {
        switch (subscriptionType)
        {
            case "1":
                return "Youth Subscription";
            case "2":
                return "Budget Subscription";
            case "3":
                return "Basic Subscription";
            case "4":
                return "Top Subscription";
            default:
                return "No Subscription";
        }
    }
}
