@using Microsoft.AspNetCore.Identity
@model BiebWebApp.Models.EditUserModel

@inject UserManager<User> UserManager

<h2>Edit User</h2>

@{
    var user = await UserManager.GetUserAsync(User);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    @if (user != null && user.Type == UserType.Administrator)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Type)
            @Html.DropDownListFor(m => m.Type, Enum.GetValues(typeof(UserType)).Cast<UserType>().Select(x => new SelectListItem
    {
    Text = x.ToString(),
    Value = ((int)x).ToString(),
    Selected = (Model.Type == x)
    }), "Select Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
        </div>
    }
    else if (user != null && user.Type == UserType.Librarian)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Type)
            @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @readonly = "readonly" })
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.SubscriptionType)
        @Html.DropDownListFor(m => m.SubscriptionType, new SelectList(Model.SubscriptionOptions, "Value", "Text", Model.SubscriptionType), "Select Subscription", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SubscriptionType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmNewPassword)
        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { @class = "btn btn-secondary" })
    </div>
}
