@using BiebWebApp.Models
@using Microsoft.AspNetCore.Identity
@model List<Item>

@{
    ViewData["Title"] = "Home Page";
    var _userManager = ViewBag.UserManager as UserManager<User>; // Retrieve the _userManager from the ViewBag

    var currentUser = await _userManager.GetUserAsync(User);
    var isAdminOrLibrarian = currentUser != null && (currentUser.Type == UserType.Administrator || currentUser.Type == UserType.Librarian);
}



@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication

<!DOCTYPE html>
<html>
<head>
    <style>
    .quick-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .quick-link {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
</style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BiebWebApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-DmY81eYEhaI6FYdMUe0Iy1fDHTJvScbLytlx4xk8fOTPHh4+EaU4w+quDk9t4W2J" crossorigin="anonymous">
   
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var user = await _userManager.FindByIdAsync(userId);

        if (user != null && !user.IsBlocked)
        {
            <div class="text-center">
                <h1 class="display-4">Welcome <span id="username">@User.Identity.Name</span></h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }

@if (isAdminOrLibrarian)
{
    <div class="text-center">
        <h2>Quick Links</h2>
        <div class="quick-links">
            <a class="quick-link btn btn-primary" href="/users">Users</a>
            <a class="quick-link btn btn-primary" href="/items">Items</a>
            <a class="quick-link btn btn-primary" href="/reservations">Reservations</a>
            <a class="quick-link btn btn-primary" href="/loans">Loans</a>
        </div>
    </div>
}

        }
        else
        {
            <div class="text-center">
                <h1 class="display-4">Welcome, your user account is blocked</h1>
                <p>Please contact the administrator for further assistance.</p>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome, please log in</h1>
            <p> 
                <a href="@Url.Action("Login", "Home")">Login</a> or go to a librarian to open a account
            </p>
        </div>
    }

    <h2>Items</h2>

    <div class="dropdown mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterDropdown">
            <a class="dropdown-item" href="@Url.Action("Index", "Home", new { filter = "" })">All</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Type</h6>
            <a class="dropdown-item" href="@Url.Action("Index", "Home", new { filter = "Book" })">Book</a>
            <a class="dropdown-item" href="@Url.Action("Index", "Home", new { filter = "Magazine" })">Magazine</a>
            <a class="dropdown-item" href="@Url.Action("Index", "Home", new { filter = "Newspaper" })">Newspaper</a>
            <a class="dropdown-item" href="@Url.Action("Index", "Home", new { filter = "DVD" })">DVD</a>
            <!-- Add more options for other item types -->
        </div>
        <form method="get" action="@Url.Action("Index", "Home")" class="ml-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Filter by year:</span>
                </div>
                <input type="text" class="form-control font-weight-bold" placeholder="Enter years" name="yearFilter" value="@ViewData["yearFilter"]">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Filter</button>
                </div>
            </div>

</form>
    </div>

    

    <form method="get" action="@Url.Action("Index", "Home")">
        <div class="input-group mb-3">
            <input type="text" class="form-control font-weight-bold" placeholder="Search items on Title/Author/Location..." name="searchString" value="@ViewData["searchString"]">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    @if (Model != null && Model.Count > 0)
    {
        <h3>Search Results</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.ItemType</td>
                        <td>@item.Year</td>
                        <td>@item.Location</td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

                                var reservation = item.Reservations?.FirstOrDefault(r => r.UserId.ToString() == userId);
                                var hasReserved = reservation != null;
                                var loaned = reservation?.Loans?.Any(l => l.ItemId == item.Id && l.UserId.ToString() == userId);

                            <td>
                                    @if (hasReserved)
                                    {
                                        if (loaned.HasValue && loaned.Value)
                                        {
                                        <button class="btn btn-secondary btn-sm" disabled>Loaned</button>
                                        }
                                        else
                                        {
                                        <a class="btn btn-secondary btn-sm" href="@Url.Action("Loan", "Home")?id=@reservation.Id">Loan</a>
                                        }
                                    }
                                    else if (item.Status == ItemStatus.Reserved)
                                    {
                                    <button class="btn btn-primary btn-sm" disabled>Already Reserved</button>
                                    }
                                    else if (item.Status == ItemStatus.Loaned)
                                    {
                                    <button class="btn btn-primary btn-sm" disabled>Already Loaned</button>
                                    }
                                    else
                                    {
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Reserve", "Home")?id=@item.Id">Reserve</a>
                                    }
                            </td>
                            }

                        </td>
                    </tr>
                   
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No items found.</p>
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();

            $('.dropdown').on('show.bs.dropdown', function (e) {
                $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
            });

            $('.dropdown').on('hide.bs.dropdown', function (e) {
                $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
            });

            var rows = document.querySelectorAll('.table tbody tr');
            rows.forEach(function (row) {
                row.addEventListener('click', function () {
                    var extraInfoRow = row.nextElementSibling;
                    if (extraInfoRow.classList.contains('extra-info')) {
                        extraInfoRow.classList.toggle('show');
                    }
                });
            });

            $('#locationFilterBtn').click(function () {
                var locationFilter = $('#locationFilterInput').val().trim();

                // Example using JavaScript to filter the table on the client side
                var rows = document.querySelectorAll('.table tbody tr');
                rows.forEach(function (row) {
                    var locationCell = row.querySelector('td:nth-child(5)');
                    var displayRow = locationFilter === '' || locationCell.textContent.trim() === locationFilter;

                    row.style.display = displayRow ? 'table-row' : 'none';
                });
            });

            // Separate the loan/reserve actions from the filtering logic
            $('.loan-action').click(function (e) {
                e.preventDefault();
                alert('Loan action');
                // Perform the loan action here
            });

            $('.reserve-action').click(function (e) {
                e.preventDefault();
                alert('Reserve action');
                // Perform the reserve action here
            });
        });

    </script>
</body>
</html>
