@model BiebWebApp.Models.ProfileViewModel

<h3>Profile Information</h3>

<p>Name: @Model.User.Name</p>
<p>Email: @Model.User.Email</p>

<h4>Reservations and Loans</h4>
@if (Model.Reservations.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Reservation Date</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.Item.Title</td>
                    <td>@reservation.ReservationDate</td>


                    @if (reservation.Loans != null && reservation.Loans.Count > 0)
                    {
                        foreach (var loan in reservation.Loans)
                        {
                            <td>@loan.LoanDate</td>
                            <td>@loan.ReturnDate</td>
                        }
                    }
                    else
                    {
                        <td>-</td>
                        <td>-</td>
                    }
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@reservation.Id" class="btn btn-primary">Details</a>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reservations found.</p>
}

@if (TempData["Message"] != null)
{
    <div class="message success">@TempData["Message"]</div>
}
