@model BiebWebApp.Models.ProfileViewModel

<h3>Profile Information</h3>

<p>Name: @Model.User.Name</p>
<p>Email: @Model.User.Email</p>

<h4>Reservations and Loans</h4>
@if (Model.Reservations.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Reservation Date</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.Item.Title</td>
                    <td>@reservation.ReservationDate</td>

                    @if (reservation.Loans != null && reservation.Loans.Count > 0)
                    {
                        <td>@reservation.Loans.First().LoanDate</td>
                        <td>@reservation.Loans.First().ReturnDate</td>
                    }
                    else
                    {
                        <td>-</td>
                        <td>-</td>
                    }
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@reservation.Id" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reservations or loans found.</p>
}

@if (Model.User.Loans.Count > 0)
{
    <h5>Old Borrowed Items History</h5>
    <ul>
        @foreach (var loan in Model.User.Loans)
        {
            <li>@loan.Item.Title - Loan Date: @loan.LoanDate, Return Date: @loan.ReturnDate</li>
        }
    </ul>
}

@if (TempData["Message"] != null)
{
    <div class="message success">@TempData["Message"]</div>
}

@if (Model.HasSubscription)
{
    <h4>Subscription</h4>
    <p>You have an active subscription.</p>
    <form method="post" action="@Url.Action("Unsubscribe", "Home")">
        @Html.AntiForgeryToken() <!-- Add the anti-forgery token to the form -->
        <button type="submit" class="btn btn-danger">Cancel Subscription</button>
    </form>
}
else
{
    <h4>Subscription</h4>
    <p>You don't have an active subscription.</p>
    <form method="post" action="@Url.Action("Subscribe", "Home")">
        @Html.AntiForgeryToken() <!-- Add the anti-forgery token to the form -->
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
}
