@model BiebWebApp.Models.ProfileViewModel

<h3>Profile Information</h3>

<p>Name: @Model.User.Name</p>
<p>Email: @Model.User.Email</p>

<h4>Reservations and Loans</h4>
@if (Model.Reservations.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Reservation Date</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.Item.Title</td>
                    <td>@reservation.ReservationDate</td>

                    @if (reservation.Loans != null && reservation.Loans.Count > 0)
                    {
                        <td>@reservation.Loans.First().LoanDate</td>
                        <td>@reservation.Loans.First().ReturnDate</td>
                    }
                    else
                    {
                        <td>-</td>
                        <td>-</td>
                    }
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@reservation.Id" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reservations or loans found.</p>
}

@if (Model != null && Model.User != null && Model.User.Loans != null && Model.User.Loans.Count > 0)
{
    <h5>Items Borrowed History</h5>
    <ul>
        @foreach (var loan in Model.User.Loans)
        {
            <li>@loan.Item.Title - Loan Date: @loan.LoanDate, Return Date: @loan.ReturnDate</li>
        }
    </ul>
}

@if (TempData["Message"] != null)
{
    <div class="message success">@TempData["Message"]</div>
}



@if (Model != null && Model.SubscriptionType != null)
{
    <h4>Subscription</h4>
    <p>Subscription Type: @Model.SubscriptionType</p>
        <p>If you want to upgrade your subscription, please visit a librarian at your local library.</p>

    @if (Model.SubscriptionCharge > 0)
    {
        <p>Subscription Fee Monthly: @Model.SubscriptionCharge</p>
    }
}

<h4>Reservation Charges</h4>
@if (Model.TotalReservationCharge > 0)
{
    <p>Total Reservation Charge: @Model.TotalReservationCharge</p>
}

<h4>Fines</h4>
@if (Model != null && Model.FinePerDay > 0)
{
    <p>Fine Per Day: @Model.FinePerDay</p>
}
else
{
    <p>No fines yet.</p>
}
